/* start css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* finish css reset */

/* global styles*/
header {
    display: flex;
    background-color: blanchedalmond;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header a img {
    width: 80px;
}

header p {
    color: rgb(30, 109, 23);
}

main {
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgb(53, 53, 53);
    padding: 30px;
}

footer a img {
    width: 120px;
}

footer p {
    margin-top: 40px;
    color: rgb(30, 109, 23);
}

/* style of index */

main section {
    padding: 30px 20px;
}

main .index-sec1 h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}

main .index-sec1 p, main .index-sec2 p, main .index-sec3 p, main .index-sec4 p {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
}

main .index-sec1, main .index-sec3 {
    background-color: #FAFAFA;
}

main .index-sec2 h2, main .index-sec3 h2, main .index-sec4 h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}

main .index-sec2 img {
    width: 150px;
    margin: 40px 0;
}

main .index-sec4 p a {
    color: rgb(0, 195, 255);
}

main .index-sec4 p a:hover {
    color: rgb(3, 140, 182);
}

/* style of saiba-mais */

main .saibaMais-sec1 h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}

main .saibaMais-sec1 p {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
}
